In [1]:
import pandas as pd

In [2]:
pd.read_excel("ProjectCodes.xlsx")

,S/No.,Project Codes,Teacher Mentors,S1 Name,S2 Name,S3 Name,S4 Name
0,1,21.014.SMA_.BI,Mrs KALPANA FERNANDEZ,MEDHA SHRIDHARAN,NaN,NaN,NaN
1,2,21.030.SUTD.PH,Mr TAN SOON KEE@HARIZ,ARJUN RAJ SATHISH KUMAR,BENEDICT LEE RUI YANG,NaN,NaN
2,3,21.033.SPOL.BI,Ms VERLYN WOO YOK LIN,OH ZHI YUAN,SNG JAMES,"WONG CHIN WEN, RACHEL",NaN
3,4,21.048.NSPC.PH,Mr Andre Jusuf,MAYUKH DAS,PRANNAYA GUPTA,NaN,NaN
4,5,21.050.NSPC.PH,Mr Andre Jusuf,HUANG ZEHAN,WONG YUAN HONG,NaN,NaN
...,...,...,...,...,...,...,...
132,133,22.159.NUSB.BI,NO TEACHER YET,LEE JUNSEOK,WONG YAN KAI,"YEO WEI HAN, LUKE",NaN
133,134,22.160.NUSB.BI,NO TEACHER YET,KWA TJIN KAI (KE RENKAI),THAYALLAN KALIANNAN,"YONG JUN XI, EWAN",NaN
134,135,23.001.NUSH.MA,Mr CHAI MING HUANG,TERENCE GOH YAN CHEN,TIAN JIARUI,NaN,NaN
135,136,23.002.NUSH.BI,Dr ROBIN SEOH KAH HUAT,ARJUN VENKATRAMAN RAJESH,SARAVANABAVAN DEVAPRIYA,SEVUKAPERUMAL KRITHIKA,NaN
136,137,23.003.NUSH.BI,Dr ROBIN SEOH KAH HUAT,JIANG CHUANTAI,ZHOU WENXIN,NaN,NaN

In [28]:
newProjects = pd.read_excel("AdditionalProjects_Student Version.xlsx").rename(columns={
    "Project code": "pcode",
    "Project Title (even if the title is a tentative one)": "title",
    "Name of NUS High teacher mentor (if there is one already assigned to you for this project); otherwise, just leave it blank.\n(e.g. Dr. Chiam Sher-Yi, Mr Ng Chee Loong, Ms Valerie Lim)": "teacherMentor",
    'Salutation of Research Mentor #1': "rMentorSalutation",
    'Name of Research Mentor #1 (do not include salutation)': "rMentorName",
    "Designation of Research Mentor #1 (e.g. Head of Department, Principal Investigator, Dean, Director, Visiting Professor, Research Fellow etc)": "rMentorRole",
    "Organisation of Research Mentor #1 (e.g. National University of Singapore, A*STAR (IMRE) , NUS High etc)": "rMentorInstitute",
    "Address of Research Mentor #1's organisation (e.g. 2 Fusionopolis Way, Innovis, #08-03 Singapore 138634)": "rMentorAddress",
    "Department of Research Mentor #1 (e.g. Physics Department, Advanced Characterisation and Instrumentation Department etc)": "rMentorDepartment",
    "Email of Research Mentor #1": "rMentorEmail", "Contact number of Research Mentor #1": "rMentorPhNo",
    "Designation of Research Mentor #2 (leave it blank if there is no Research Mentor #2)": "rMentorSalutation2",
    "Name of Research Mentor #2 (leave it blank if there is no Research Mentor #2)": "rMentorName2",
    "Designation of Research Mentor #2 (leave blank if there is no Research Mentor #2)": "rMentorRole2",
    'Email of Research Mentor #2 (leave it blank if there is no Research Mentor #2)': "rMentorEmail2",
    "Contact number of Research Mentor #2 (leave it blank if there is no Research Mentor #2)": "rMentorPhNo2",
    "Team Leader’s name (full name as given in school's record)": "member1Name",
    "Team Leader's student ID (e.g. h1512345)": "member1sid",
    'Member #2’s name (leave it blank if there is no Member #2)': "member2Name",
    "Member #2’s student ID (e.g. h1312345) (leave it blank if there is no Member #2)": "member2sid",
    "Member #3's name  (leave it blank if there is no Member #3)": "member3Name",
    "Member #3’s student ID (e.g. h1412345)  (leave it blank if there is no Member #3)": "member3sid",
    "Member #4's name (leave it blank if there is no Member #4)": "member4Name",
    "Member #4’s student ID (e.g. h1412345)  (leave it blank if there is no Member #4)": "member4sid",
    "Date, time and place of first meeting with research mentor (e.g. 3rd March 2020 Tuesday, 2.00 pm, Research Mentor's office at NUS; e.g. 4th March 2020 Wednesday, 4.30 pm, Research Mentor's lab in DSO)": "firstMeeting",

}).drop(columns = [
    "Email", "Name", 'Your mentor group (e.g. M22602, M22505, M22407)', 'Project synopsis (even if it is a tentative version)',
    'Nature of Project\n(e.g. Chemistry, Biology, Physics, Mathematics, Computer Science, Engineering, Bio-Medical etc)',
    "Designation of Research Mentor #3 (leave it blank if there is no Research Mentor #3)",
    "Name of Research Mentor #3 (leave it blank if there is no Research Mentor #3)",
    'Email of Research Mentor #3 (leave it blank if there is no Research Mentor #3)',
    'Contact number of Research Mentor #3 (leave it blank if there is no Research Mentor #3)',
    "Team Leader's mentor group (e.g. M19403)",
    "Team Leader's contact number",
    'Member #2’s mentor group (e.g. .M19403)  (leave it blank if there is no Member #2)',
    'Member #2’s contact number  (leave it blank if there is no Member #2)', 
    'Member #3’s mentor group (e.g. .M19403)  (leave it blank if there is no Member #3)',
    'Member #3’s contact number  (leave it blank if there is no Member #3)',
    'Member #4’s mentor group (e.g. .M19403)  (leave it blank if there is no Member #4)',
    'Member #4’s contact number  (leave it blank if there is no Member #4)',
    'Describe how feasible it will be for your research mentor to carry out online mentoring, in case the need arises?',
    'Describe the first task(s) that was/were assigned to your team by your research mentor.',
    "If there is a need to conduct your experimentation in school instead of your research mentor's lab, is there a place or lab in school that you think is suitable. Please provide details how feasibl..."
])

newProjects

,pcode,title,teacherMentor,rMentorSalutation,rMentorName,rMentorRole,rMentorInstitute,rMentorAddress,rMentorDepartment,rMentorEmail,...,rMentorPhNo2,member1Name,member1sid,member2Name,member2sid,member3Name,member3sid,member4Name,member4sid,firstMeeting
0,23.009.TLL_.BI,Analysis Of callus Growth of Various Species o...,NaN,Dr.,Somika Bhatnagar,Principal Investigator,Temasek Life Sciences Center,"1 Research Link, Singapore 117604",Tree Biotechnology Lab,somika@tll.org.sg,...,NaN,Selvakumar Vigneshwaran,h1910133,NaN,NaN,NaN,NaN,NaN,NaN,"28th November 2022 Monday 9.30 am, Research me..."
1,23.010.SIT_.CS,Detecting Malware Samples using a Novel Featur...,NaN,Assistant Professor,Tram Truong-Huu,Assistant Professor,Singapore Institute of Technology (SIT),"10 Dover Dr, Singapore 138683",Infocomm Technology (ICT) Cluster,truonghuu.tram@singaporetech.edu.sg,...,NaN,Prannaya Gupta,h1810124,Lim Sue Han Justin,h1810086,NaN,NaN,NaN,NaN,"13th July 2022, 9pm - 10pm, Online via Zoom"
2,23.011.SGH_.CS,Deep learning model for the diagnosis of exuda...,NaN,Assistant Professor,Cheng Tim-Ee Lionel,Clinical Director (Artificial Intelligence),"Singapore General Hospital, SingHealth","31 Third Hospital Ave, Singapore 168753",Diagnostic Radiology,chenglionel@gmail.com,...,NaN,Kan Rui Xian Matthew,h1810065,NaN,NaN,NaN,NaN,NaN,NaN,"5th September 2022, 3pm, online"
3,23.006.NUSH.RE,NUSHSat Payload,Mr Andre Jusuf,Mr,Ng Zhen Ning,Chief Executive Officer,NuSpace,"71 Ayer Rajah Crescent, #05-19/20/21, S139951, SG",NaN,zning@nuspace.sg,...,NaN,Ong Jun Xi,h1810116,Leow Yap Yong,h1810079,Subramanian Vishwa,h1810142,NaN,NaN,"9th August 2022 Tuesday, 2.00pm, NUSH Dry lab"
4,23.018.NUSH.CS,Analysing Gait Patterns of Parkinson's Disease...,Mr Lim Teck Choow,Associate Professor,-,-,-,-,-,-,...,NaN,Prannaya Gupta,h1810124,Nallapuraju Ananya,h1810111,Ye Chen Rui,h1810167,NaN,NaN,-
5,23.012.NUSB.BI,Heterologous Expression of Avicennia Officinal...,Dr Huang Sinong,Professor,Prakash Kumar,Professor,"National University of Singaopore, S1A, Lee We...","National University of Singapore, Singapore 11...",Plant Morphogenesis Lab,prakash.kumar@nus.edu.sg,...,8512 7670,Selvakumar Vigneshwaran,h1910133,Koay YI Ren Darin,h2130003,NaN,NaN,NaN,NaN,"28th July, (Saturday) Research mentor's lab at..."
6,23.013.NUSH.RE,A Cost-Effective and Accessible Construction o...,Mr Andre Jusuf,Mr,Andre Jusuf,Teacher,NUS High,"20 Clementi Ave 1, Singapore 129957","Office of Research, Innovation and Enterprise",nhsaj@nus.edu.sg,...,NaN,Charles Song Xinpeng,h1910144,Benedict Lee Rui Yang,h1910013,Luke Yeo Wei Han,h1910164,NaN,NaN,"29th June 2022, 2:00pm, Dry lab in NUS High"
7,23.015.NUSB.BI,Hunting for Bacteriophages,Dr Huang Sinong,Professor,Pablo Bifani,Associate Professor,NUS,"5 Science Drive 2, Singapore 117545, Level 5",Microbiology and Immunology,micpb@nus.edu.sg,...,94230890,Lin Zhining,h1910088,Sim Xin Hui Yeshe,h1910142,NaN,NaN,NaN,NaN,"17 August 2022 Wednesday, 3 pm, Research Mento..."
8,23.016.NUSH.MA,On the Application of Inequalities Containing ...,Mr Wang Haibin,Mr,Wang Haibin,Math Teacher,NUS High,"NUS High(20 Clementi Ave 1, Singapore 129957)",Math Department,nhswh@nus.edu.sg,...,NaN,Wang Jiayu,h2010154,NaN,NaN,NaN,NaN,NaN,NaN,2022 August 29th
9,23.017.NUSH.PH,On the Vibroacoustic Modelling of Tensioned El...,Mr Lim Yeow Heng,Mr,Sze Guan Kheng,Head of Department,Raffles Institution,1 Raffles Institution Ln,Physics Department,guankhengsze@gmail.com,...,NaN,Vijoy Akshat,h1910157,NaN,NaN,NaN,NaN,NaN,NaN,-

In [21]:
import numpy as np
pd.concat([
    newProjects[["pcode", "rMentorEmail", "rMentorName", "rMentorPhNo"]].replace("-", np.nan).dropna(how="all"),
newProjects[["pcode", "rMentorEmail2", "rMentorName2", "rMentorPhNo2"]].rename(columns=lambda x:x[:-1] if x != "pcode" else x).dropna()])

,pcode,rMentorEmail,rMentorName,rMentorPhNo
0,23.009.TLL_.BI,somika@tll.org.sg,Somika Bhatnagar,82016485
1,23.010.SIT_.CS,truonghuu.tram@singaporetech.edu.sg,Tram Truong-Huu,NaN
2,23.011.SGH_.CS,chenglionel@gmail.com,Cheng Tim-Ee Lionel,62223322
3,23.006.NUSH.RE,zning@nuspace.sg,Ng Zhen Ning,93204515
4,23.018.NUSH.CS,NaN,NaN,NaN
5,23.012.NUSB.BI,prakash.kumar@nus.edu.sg,Prakash Kumar,NaN
6,23.013.NUSH.RE,nhsaj@nus.edu.sg,Andre Jusuf,65165799
7,23.015.NUSB.BI,micpb@nus.edu.sg,Pablo Bifani,65166741
8,23.016.NUSH.MA,nhswh@nus.edu.sg,Wang Haibin,65161709
9,23.017.NUSH.PH,guankhengsze@gmail.com,Sze Guan Kheng,98254525
5,23.012.NUSB.BI,pannaga@nus.edu.s,Pannaga Krishnamurthy,8512 7670
7,23.015.NUSB.BI,liew_jun_hao_from.tp@idlabs.a-star.edu.sg,Liew Jun Hao,94230890

In [57]:
newProjects["teacherMentor"].iloc[:3] = ["Mr Lim Teck Choow", "Mr Li Da", "Mrs Phylliscia Lee"]
newProjects[["pcode", "title", "teacherMentor", "member1Name"]]

c:\Users\Prannaya\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,pcode,title,teacherMentor,member1Name
0,23.009.TLL_.BI,Analysis Of callus Growth of Various Species o...,Mr Lim Teck Choow,Selvakumar Vigneshwaran
1,23.010.SIT_.CS,Detecting Malware Samples using a Novel Featur...,Mr Li Da,Prannaya Gupta
2,23.011.SGH_.CS,Deep learning model for the diagnosis of exuda...,Mrs Phylliscia Lee,Kan Rui Xian Matthew
3,23.006.NUSH.RE,NUSHSat Payload,Mr Andre Jusuf,Ong Jun Xi
4,23.018.NUSH.CS,Analysing Gait Patterns of Parkinson's Disease...,Mr Lim Teck Choow,Prannaya Gupta
5,23.012.NUSB.BI,Heterologous Expression of Avicennia Officinal...,Dr Huang Sinong,Selvakumar Vigneshwaran
6,23.013.NUSH.RE,A Cost-Effective and Accessible Construction o...,Mr Andre Jusuf,Charles Song Xinpeng
7,23.015.NUSB.BI,Hunting for Bacteriophages,Dr Huang Sinong,Lin Zhining
8,23.016.NUSH.MA,On the Application of Inequalities Containing ...,Mr Wang Haibin,Wang Jiayu
9,23.017.NUSH.PH,On the Vibroacoustic Modelling of Tensioned El...,Mr Lim Yeow Heng,Vijoy Akshat

In [61]:
for i in list(newProjects.title): print(i)

Analysis Of callus Growth of Various Species of Plants in Mediums with Cytokinins and Auxins under Differing Light Conditions
Detecting Malware Samples using a Novel Feature Vector and Deep Learning Methods
Deep learning model for the diagnosis of exudative pharyngitis
NUSHSat Payload
Analysing Gait Patterns of Parkinson's Disease patients to predict Freezing of Gait (FoG) using Machine Learning Algorithms
Heterologous Expression of Avicennia Officinalis Cation-Chloride Cotransporter (CCC1) In Arabidopsis and Yeast and It’s Role in the Regulation Of Salt Tolerance
A Cost-Effective and Accessible Construction of Ground Station for CubeSat Applications
Hunting for Bacteriophages
On the Application of Inequalities Containing Sums of Minimum/Maximum of Numbers(already concluded and submitted for SSEF 2023 via the school)
On the Vibroacoustic Modelling of Tensioned Elastic Membranes in a Pressurised Air Cavity

In [30]:
newProjects[["pcode", "member1Name", "member2Name", "member3Name"]]

,pcode,member1Name,member2Name,member3Name
0,23.009.TLL_.BI,Selvakumar Vigneshwaran,NaN,NaN
1,23.010.SIT_.CS,Prannaya Gupta,Lim Sue Han Justin,NaN
2,23.011.SGH_.CS,Kan Rui Xian Matthew,NaN,NaN
3,23.006.NUSH.RE,Ong Jun Xi,Leow Yap Yong,Subramanian Vishwa
4,23.018.NUSH.CS,Prannaya Gupta,Nallapuraju Ananya,Ye Chen Rui
5,23.012.NUSB.BI,Selvakumar Vigneshwaran,Koay YI Ren Darin,NaN
6,23.013.NUSH.RE,Charles Song Xinpeng,Benedict Lee Rui Yang,Luke Yeo Wei Han
7,23.015.NUSB.BI,Lin Zhining,Sim Xin Hui Yeshe,NaN
8,23.016.NUSH.MA,Wang Jiayu,NaN,NaN
9,23.017.NUSH.PH,Vijoy Akshat,NaN,NaN

In [32]:
import requests

In [33]:
tables = pd.read_html(requests.get(
    "https://www.nushigh.edu.sg/our-dna/contact-us/our-staff").content)

In [87]:
chemdpt = tables[14].rename(columns={"Chemistry": "name", "Chemistry.1": "dept"})
chemdpt.dept = "Chemistry"
chemdpt

                           name       dept
0               Ms Koh Siok Bee  Chemistry
1               Dr Teh Yun Ling  Chemistry
2        Mr Murali Krishnaswamy  Chemistry
3               Ms Chong Ai Lin  Chemistry
4       Mrs Soong-Tan Seck Cher  Chemistry
5          Mr Yeo Shyh Yuan Don  Chemistry
6                     Dr Li Wei  Chemistry
7                Mr Lee Kim Hun  Chemistry
8    Mrs Khoo-Teo Yew Mei Grace  Chemistry
9               Dr Seow Nianjia  Chemistry
10  Dr Maury Julien Jean Pierre  Chemistry
11        Dr Flora Soh Shu Fang  Chemistry
12              Ms Zhong Jingyi  Chemistry
13                 Ms Ng Yu Rui  Chemistry
14            Ms Huang Huan Xin  Chemistry
15             Mr Wong Teck Hee  Chemistry
16             Ms Pek Lay Pheng  Chemistry
17               Ms Loo Koh Lee  Chemistry
18   Mr Lew Andrew Delfin Reyes  Chemistry

In [89]:
physdpt = tables[15].rename(
    columns={"Physics & Engineering": "name", "Physics & Engineering.1": "dept"})
physdpt.dept = "Physics & Engineering"
physdpt

                           name                   dept
0               Mr Poh Boon Hor  Physics & Engineering
1                Ms Lim Jia Hui  Physics & Engineering
2        Ms Teo Geok Hon Sheryl  Physics & Engineering
3   Mr Tan Soon Kee @ Hariz Tan  Physics & Engineering
4      Mr Soh Kwan Seng Clifton  Physics & Engineering
5            Dr Bernard Ricardo  Physics & Engineering
6              Mr Lim Yeow Heng  Physics & Engineering
7               Dr Ng Tiong Eng  Physics & Engineering
8             Mr Yuen Xiang Hao  Physics & Engineering
9                Ms Lim Li Chen  Physics & Engineering
10              Ms Yenny Wijaya  Physics & Engineering
11             Mr Tan Guan Seng  Physics & Engineering
12        Mr Silas Yeem Kai Ean  Physics & Engineering
13        Mr Ho Jun Hao Kenneth  Physics & Engineering
14        Mr Joseph Tan Jit Bin  Physics & Engineering
15          Mr Riduwan B Gafoor  Physics & Engineering
16    Mr Desmond Lim Beng Chong  Physics & Engineering

In [91]:
biodpt = tables[16].rename(
    columns={"Biology": "name", "Biology.1": "dept"})
biodpt.dept = "Biology"
biodpt

                               name     dept
0                 Dr Tang Hock Chun  Biology
1                     Ms Ng Oon Hui  Biology
2                   Dr Low Kai Leng  Biology
3            Ms Chan Jing-Ning Ruth  Biology
4                   Dr Huang Sinong  Biology
5                 Ms Fong Kit Ching  Biology
6          Ms Lim Suat Fong Valerie  Biology
7            Dr Seoh Kah Huat Robin  Biology
8             Ms Woo Yok Lin Verlyn  Biology
9                Mr Lee Siak Cheong  Biology
10            Mrs Fernandez Kalpana  Biology
11                 Ms Renata Triani  Biology
12               Ms Cheong Yoke Fun  Biology
13  Ms Ameryn Dahnia Bte Mohd Zaili  Biology
14             Ms Rachel Goh Hui Qi  Biology

In [94]:
# biodpt = tables[16].rename(
#     columns={"Biology": "name", "Biology.1": "dept"})
# biodpt.dept = "Biology"
# biodpt
mathdpt = tables[17].rename(
    columns={"Mathematics & Statistics": "name", "Mathematics & Statistics.1": "dept"})
mathdpt.dept = "Mathematics & Statistics"
mathdpt

                        name                      dept
0          Mr Chen Hong Ming  Mathematics & Statistics
1          Ms Lee Sheau Huey  Mathematics & Statistics
2           Mr Goh Shu Liang  Mathematics & Statistics
3          Mr Tan Boon Keong  Mathematics & Statistics
4   Mr Chai Ming Huang Royce  Mathematics & Statistics
5          Mr Lim Teck Choow  Mathematics & Statistics
6            Dr Lee Chan Lye  Mathematics & Statistics
7     Mr Teoh Yeow Hwee Joel  Mathematics & Statistics
8            Mr Low Chin Han  Mathematics & Statistics
9             Mr Wang Haibin  Mathematics & Statistics
10  Ms Joyce Seow Chwee Loon  Mathematics & Statistics
11     Ms Jiang Zewei Vivian  Mathematics & Statistics
12          Mr Ku Ching Ming  Mathematics & Statistics
13         Mr Chia Vui Leong  Mathematics & Statistics
14           Mr Tan Rui Feng  Mathematics & Statistics
15        Mrs Liu-Ye Xiajuan  Mathematics & Statistics
16           Mr Chan Yu Ming  Mathematics & Statistics
17   Mr Lim Jun Yang Leonard  Mathematics & Statistics
18             Ms Ooi Liu Qi  Mathematics & Statistics
19     Mr Herman Chua Jia He  Mathematics & Statistics

In [96]:
csdpt = tables[18].rename(
    columns={"Computer Science": "name", "Computer Science.1": "dept"})
csdpt.dept = "Computer Science"
csdpt

                        name              dept
0  Ms Chew Shuhui Phylliscia  Computer Science
1           Mr Ng Chee Loong  Computer Science
2   Mr Claude Chua Eng Siong  Computer Science
3                   Mr Li Da  Computer Science
4     Mr Teo Chee Yong Shawn  Computer Science

In [98]:
humdept = tables[19].rename(
    columns={"Humanities": "name", "Humanities.1": "dept"})
humdept.dept = "Humanities"
humdept

                        name        dept
0   Ms Lim Ing Chieh Rebekah  Humanities
1               Ms Chua Bann  Humanities
2  Mrs Chen Zhaoyan Madeline  Humanities
3               Ms Irene Poh  Humanities
4           Mr Loh Ping Shun  Humanities
5           Ms Tong Boon Yee  Humanities
6     Mr Alex Kwee Yeow Teck  Humanities

In [37]:
eldpt = tables[21].rename(
    columns={"English Language & Literature": "name", "English Language & Literature.1": "dept"})
eldpt.dept = "English Language & Literature"
eldpt

                             name                           dept
0                  Ms Bay Wee Wen  English Language & Literature
1              Ms Caroline Gordon  English Language & Literature
2             Ms Sofia Lau Wen Li  English Language & Literature
3                      Ms Ivy Koo  English Language & Literature
4          Ms Chan Yun-Zhi Eunice  English Language & Literature
5                    Ms Beji Dass  English Language & Literature
6       Ms Esther Vincent Xueming  English Language & Literature
7   Mr Eric Francis Tinsay Valles  English Language & Literature
8               Mr Lim Chong Shen  English Language & Literature
9              Ms Asrina Bte Sani  English Language & Literature
10       Mr Chin Kiane Yun Dustin  English Language & Literature
11       Ms Chin Lee Pyin Melissa  English Language & Literature
12        Ms Koh Mei Ying Genette  English Language & Literature
13         Ms Yuen Lilin Sharalee  English Language & Literature

In [113]:
humdept = tables[19].rename(
    columns={"Humanities": "name", "Humanities.1": "dept"})
humdept.dept = "Humanities"
humdept
tables[34]

IndexError: list index out of range